<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.lamprose.bookshell.dao.BookShelfMapper">
    <resultMap id="BookShelfMap" type="io.github.lamprose.bookshell.domain.BookShelf">
        <id property="id"  column="id"/>
        <result property="cityCode" column="city_code"/>
    </resultMap>
    <resultMap id="BookMap" type="io.github.lamprose.bookshell.dao.BookMapper">
        <result property="bookShelfId" column="book_shelf_id"/>
        <result property="userName" column="user_name"/>
        <result property="isLend" column="is_lend"/>
    </resultMap>
    <select resultMap="BookMap" id="getUserShelfBook">
        SELECT * from book
        where is_lend= #{id}
    </select>
</mapper>